# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

out

hls_output

node_modules
dist
dist-electron
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large video files
videos/

# Native bindings
native/build/
native/Release/
native/Debug/
build/Release/
build/Debug/
*.node
docs/
